
*{
    padding: 0;
    margin: 0;
}
#header{
    position: absolute;
    z-index: 10;
    width: 100%;
}
.navbar{
    padding: 50px 0;
}
.navbar-brand{
    font-weight: bold;
    font-size: 1.5em;
    text-transform: uppercase;
    color: #ccc !important;
}
.nav-item{
    font-weight: 600;
    text-transform: uppercase;
    padding-left: 50px;
    border-radius: 5px;
}

.nav-link{
    color: #ccc !important;
    letter-spacing: 2px;
    font-size: 1em;
    font-weight: 700;
}
.nav-link:hover{
    background: #dcde !important;
    color: #262626 !important;
    border-radius: 5px;
    transition: all 0.6s ease 0s;
}

.main{
    position: relative;
    background: url(../imgs/header.jpg);
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    padding: 280px 0 220px ;
    color: white;
}

#ReadMore{
    text-decoration: none;
    color: inherit;
    font-size: 25px;
    border-radius: 5px;
    padding: 10px;
    background: #dcde !important;
    color: #262626 !important;

}
#cursinho{
    font-size: 20px;
}
li{
    list-style: none;
}
::-webkit-scrollbar{
    width: 8px;
    height: 7px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  ::-webkit-scrollbar-track-piece{
    background-color: #252525;
  }
  
  ::-webkit-scrollbar-thumb{
      border-radius: 100px;
    background-color: rgb(167, 167, 167);
  
  }
  
  ::-webkit-scrollbar-thumb:hover{
      background-color: #525252;
  }

#bg{
    filter: brightness(30%);
}
.card{
    position: absolute;
}


#img1{
    width: 300px;
}

#cor{
    color: white;

}
#perfil{
    color: white;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
}
#bac{
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
}
#cards{
    color: white;
}

.our-team{
    text-align: center;
    position: relative;
    color: #fff;
    border-radius: 10px;
}

.our-team img{
    width: 100%;
}
.our-team .content{
    background: rgba(0,0,0,0.6);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    padding-top: 30%;
    transform: perspective(400px) rotateX(-90deg);
    transform-origin:center top 0;
    transition: all 0.5s ease 0s;
    opacity: 0;
    border-radius: 10px;
}

.our-team:hover .content,
.our-team.active .content{
    opacity: 1;
    transform: perspective(400px) rotateX(0deg);
}

.our-team .content .post{
    margin: 0 0 25px;
    display: block;
    font-size: 30px;
}

.our-team .social{
    margin: 0;
    padding: 0;
    list-style: none;
}

.our-team .social li{
    display: inline-block;
}
.our-team .social li a{
    display: block;
    color: #fff;
    font-size: 20px;
    height: 40px;
    width: 100px;
    line-height: 40px;
    border-radius: 0;
    background-color: #f32248;
    margin-right: 5px;
    transition: all 0.5s ease 0s;
    position: relative;
}
.our-team .social li a:hover,
.our-team .social li a{
    border-radius: 10px;
    text-decoration: none;
}
#t{
    border-radius: 10px;
}

@media screen and (max-width:990px)
{
    .our-team{
        margin-bottom: 30px;
    }
}
#pos{
    color: #fff;
    font-size: 18px;
    text-align: justify;
}

#img2{
    width: 320px;
}
#carouselExampleCaptions{
    width: 90%;
}

#carro{
    justify-content: center;
}
.carousel-item{
    height: 36rem;
    background: #777;
    color: white;
    position: relative;
}


#all2{
    padding-bottom: 10%;
}

#vid{
    border-radius: 10px;
}

.embed{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
}

.embed iframe{
    position: absolute;
    width: 100%;
    height: 100%;

}



#entre{
    text-align: justify;
}

a{
    list-style: none;
    text-decoration: none;
}

#areas{
    font-size: 16px;
    text-align: justify;
}


/*==================== 
  Footer 
====================== */

/* Main Footer */
footer .main-footer{  padding: 20px 0;  background: #252525;}
footer ul{  padding-left: 0;  list-style: none;}

/* Copy Right Footer */
.footer-copyright { background: #222; padding: 5px 0;}
.footer-copyright .logo {    display: inherit;}
.footer-copyright nav {    float: right;    margin-top: 5px;}
.footer-copyright nav ul {  list-style: none; margin: 0;  padding: 0;}
.footer-copyright nav ul li { border-left: 1px solid #505050; display: inline-block;  line-height: 12px;  margin: 0;  padding: 0 8px;}
.footer-copyright nav ul li a{  color: #969696;}
.footer-copyright nav ul li:first-child { border: medium none;  padding-left: 0;}
.footer-copyright p { color: #969696; margin: 2px 0 0;}

/* Footer Top */
.footer-top{  background: #252525;  padding-bottom: 30px; margin-bottom: 30px;  border-bottom: 3px solid #222;}

/* Footer transparent */
footer.transparent .footer-top, footer.transparent .main-footer{  background: transparent;}
footer.transparent .footer-copyright{ background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3) ;}

/* Footer light */
footer.light .footer-top{ background: #f9f9f9;}
footer.light .main-footer{  background: #f9f9f9;}
footer.light .footer-copyright{ background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3) ;}

/* Footer 4 */
.footer- .logo {    display: inline-block;}

/*==================== 
  Widgets 
====================== */
.widget{  padding: 20px;  margin-bottom: 40px;}
.widget.widget-last{  margin-bottom: 0px;}
.widget.no-box{ padding: 0; background-color: transparent;  margin-bottom: 40px;
  box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; -ms-box-shadow: none; -o-box-shadow: none;}
.widget.subscribe p{  margin-bottom: 18px;}
.widget li a{ color: #fff;}
.widget li a:hover{ color: #aaa;text-decoration: none;}
.widget-title {margin-bottom: 20px;}
.widget-title span {background: #839FAD none repeat scroll 0 0;display: block; height: 1px;margin-top: 25px;position: relative;width: 20%;}
.widget-title span::after {background: inherit;content: "";height: inherit;    position: absolute;top: -4px;width: 50%;}
.widget-title.text-center span,.widget-title.text-center span::after {margin-left: auto;margin-right:auto;left: 0;right: 0;}
.widget .badge{ float: right; background: #7f7f7f;}

.typo-light h1, 
.typo-light h2, 
.typo-light h3, 
.typo-light h4, 
.typo-light h5, 
.typo-light h6,
.typo-light p,
.typo-light div,
.typo-light span,
.typo-light small{  color: #fff;}

ul.social-footer2 { margin: 0;padding: 0; width: auto;}
ul.social-footer2 li {display: inline-block;padding: 0;}
ul.social-footer2 li a:hover {background-color:#ff8d1e;}
ul.social-footer2 li a {display: block; height:30px;width: 30px;text-align: center;}
.btn{background-color: #ff8d1e; color:#fff;}
.btn:hover, .btn:focus, .btn.active {background: #4b92dc;color: #fff;
-webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-moz-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-ms-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-o-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-webkit-transition: all 250ms ease-in-out 0s;
-moz-transition: all 250ms ease-in-out 0s;
-ms-transition: all 250ms ease-in-out 0s;
-o-transition: all 250ms ease-in-out 0s;
transition: all 250ms ease-in-out 0s;

}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    background-color: #3e3e3e;
    color: #fff;
    padding: 9px;
    border-radius: 5px;
}

#subscribe-box .emailfield {
    margin: auto;
}

input[type="text"] {
    background: rgba(255,255,255,0.075);
    padding: 10px 15px;
    color: #aaa;
    border: 3px solid rgba(0,0,0,0.1);
    font-size: 14px;
    margin-bottom: 16px;
    border-radius: 5px;
    transition: all 0.2s cubic-bezier(0.4,0,0.2,1);
    transition-delay: 0.2s;
    text-align: center;
    width: 100%;
}

input.submitbutton.ripplelink {
    background: #e67e22;
    border: 3px solid rgba(0,0,0,0.1);
    color: #fff;
    border-color: #e67e22;
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2);
    transition-delay: 0s;
    width: 100%;
    font-size: 14px;
    /* font-weight: 700; */
    border: 0px solid;
    transition: all 0.2s cubic-bezier(0.4,0,0.2,1);
    padding: 10px 15px;
    margin-bottom: 16px;
    border-radius: 5px;
}

.thumb-content ::before {
    content: "\f190";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    margin-left: 5px;
    color: #ffffff;
}
.amarelo{
    color:#ffff33;
    font-size: 2em;
    
}

